{% extends 'jobs/layout.html' %}
{% load static %}

{% block body %}

<div class="searchbar">
  <form id="form" class="d-flex" action="{% url 'jobs:find' %}" method="get">
      <input class="form-control me-2" type="text" placeholder="Job Title, Keyword, Company..." name="j" value="{{ request.GET.j }}">
      <input class="form-control me-2" type="text" placeholder="Desired Location..." name="l" value="{{ request.GET.l }}">
      <input class="btn btn-outline-success" type="submit" value="Search">
  </form>
</div>


<div class="cards">
    {% for job in jobs %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ job.jobtitle }}</h5>
        <p class="card-text">{{ job.location }}</p>
        <a href="{% url 'jobs:job' job.id %}" class="btn btn-primary">View more</a>
      </div>
    </div>
    {% empty %} 
        <li>No search results</li>
    {% endfor %}
</div>

{% endblock %}
