{% extends 'jobs/layout.html' %}
{% load static %}

{% block body %}

<div class="user_form card" id="post_form">
    <div class="card-body">
          <h5 class="card-title users_card-title">Post a job</h5>
            <form action="{% url 'users:register' %}" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3">
                <label class="form-label">{{ field.label }}</label>
                {{ field }}
            </div>
            {% endfor %}
            <div class="center_btn">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
            </form>
    </div>
</div>

{% endblock %}