{% extends 'jobs/layout.html' %}
{% load static %}

{% block body %}

<div class="cards" style="margin-top: 30px;">
    {% for post in posts %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ post.jobtitle }}</h5>
        <p class="card-text">{{ post.location }}</p>
        <span style="display: flex; justify-content: space-between;">
            <button class="btn btn-primary">View more</button>
            <button type="button" class="btn btn-danger">Delete</button>
        </span>
      </div>
    </div>
    {% empty %} 
        <h3>You have not uploaded any job posts yet.</h3>
    {% endfor %}
</div>

{% endblock %}