{% extends 'jobs/layout.html' %}

{% block body %}

<div class="user_form">
    {% if messages %}
    <div>
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    <br>
    <form action="{% url 'users:register' %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div>
            <label>{{ field.label }}</label>
            <br>
            {{ field }}
            <br><br>
        </div>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</div>

{% endblock %}