{% extends 'jobs/layout.html' %}
{% load static %}

{% block body %}

<script src="{% static 'jobs/script.js' %}"></script>

<div class="searchbar">
  <form id="form" class="d-flex" action="{% url 'jobs:find' %}" method="get">
      <input class="form-control me-2" type="text" placeholder="Job Title, Keyword, Company..." name="j">
      <input class="form-control me-2" type="text" placeholder="Desired Location..." name="l">
      <input class="btn btn-outline-success" type="submit" value="Search">
  </form>
</div>


<div class="cards">
  
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
      </div>
      <div class="modal-body">
        <p id="des"></p>
        <p id="about"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
