{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>BestJob</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'jobs/style.css' %}">
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <div style="display: inline-flex;">
          <a id="brand" class="navbar-brand" href="{% url 'jobs:index' %}">BestJob</a>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item" style="padding-left: 30px; padding-top: 4px;">
                <a class="nav-link active" aria-current="page" href="{% url 'jobs:find' %}">Find jobs</a>
              </li>
              <li class="nav-item" style="padding-left: 30px; padding-top: 4px;">
                <a class="nav-link active" aria-current="page" href="{% url 'jobs:post' %}">Post jobs</a>
              </li>
            </ul>
          </div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="right-nav">
              {% if request.user.is_authenticated %}
              <li class="nav-item">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Welcome, {{ request.user.username }}
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'users:index' %}">View profile</a>
                    <a class="dropdown-item" href="{% url 'users:myposts' %}">My job posts</a>
                    <a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a>
                  </div>
                </div>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:login' %}" style="color: rgb(45, 107, 170);">Sign in</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:register' %}" style="color: rgb(45, 107, 170);">Sign up</a>
              </li>
              {% endif %}
            </ul>
            
          </div>
    </nav>
    {% block body %}
    {% endblock %} 
</body>
</html>